@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --blue: #004494;
    --blue2: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: rgb(34, 34, 34);
    --black2: rgb(48, 48, 48);
}


body {
    background: var(--black1);
    min-height: 100vh;
    overflow-x: hidden;
}

.contenedor {
    min-height: 100vh;
    position: relative;
    width: 100%;
}


nav {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: .5s;
    overflow: hidden;
}

nav.active {
    width: 80px;
}

nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul li {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
    width: 100%;
    list-style: none;
}

nav ul li.selected {
    background: var(--black1);
}
nav ul li.selected:hover {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background: var(--black1);
}

nav ul li:hover {
    width: calc(100% - 5px);
    border-radius: 30px;
    background: rgba(34, 34, 34, 0.8);
    
}

nav ul li:nth-child(1) {
    margin-top: 20px;
    margin-bottom: 40px;
    pointer-events: none;
}

nav ul li a {
    position: relative;
    display: block;
    display: flex;
    text-decoration: none;
    color: var(--white);    
}

nav ul li a .icon{
    color: var(--white);
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

nav ul li a .icon ion-icon{
    font-size: 1.75em;
}

.title.logo {
    font-size: 1.5em;
}

.icon.logo img{
    max-height: 100%;
}

nav ul li a .title{
    font-weight: 500;
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
}


nav ul li.selected a::before {
    background: transparent;
    pointer-events: none;
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--black1);
}

nav ul li.selected a::after {
    background: transparent;
    pointer-events: none;
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--black1);
}

main {
    min-height: 100vh;
    width: calc(100% - 300px);
    position: absolute;
    left: 300px;
    background: transparent;
    transition: .5s;
}
main.active {
    left: 80px;
    width: calc(100% - 80px);
}

main section {
    margin-top: 60px;
}

.topbar {
    transition: .5s;
    position: fixed;
    background-color: var(--black1);
    width: calc(100% - 300px);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.topbar.active {
    width: calc(100% - 80px);
}

main .toggle {
    color: var(--white);
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

main .profile-pic {
    color: var(--white);
    padding: 6px;
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    transition: .5s;
}
main .profile-pic img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    font-size: .2em;
    border-radius: 50%;
    border: 1px solid var(--white);
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 400px;
    margin: 0 10px;
}

.search label{
    flex-grow: 1;
    position: relative;
}

.search .filtro {
    cursor: pointer;
    color: var(--white);
    font-size: 1.5em;
}

.search label input {
    color: var(--white);
    background-color: #303135;
    font-size: 18px;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: none;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
}
.search label input ::placeholder{
    color: gray;
}

.search label ion-icon {
    cursor: pointer;
    height: 100%;
    color: white;
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}



/*
--------------------- ANUNCIOS ---------------------
*/


.cuadricula {
    margin: 50px auto 50px auto;
    width: 90%;
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.anuncio {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.anuncio img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}


.contenido {
    color: white;
    margin: 80px auto 50px auto;
    width: 90%;
}

input[type="file"] {
    display: none;
}

.contenido form, .ajustes form {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#preview {
    display: none;
}

.contenido form label, .ajustes form label {
    cursor: pointer;
}

.ajustes form label:first-child {

    padding: 0;
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;
    height: 200px;
    border-radius: 50%;
}

.ajustes form label:first-child img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

#placeholder {
    display: block;
}

#placeholder-img {
    max-width: 40px;
    font-size: 2em;
}

.contenido form img, .ajustes form img {
    padding: 20px;
    max-width: 400px;
    transition: .2s;
    max-height: 400px;
    object-fit: scale-down;
}

.contenido form > *:nth-child(n), .ajustes form > *:nth-child(n) {
    color: white;
    font-size: 1em;
    background-color: var(--black2);
    outline: none;
    border-radius: 7px;
    border: .5px solid black;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
}

.contenido form label:first-child, .ajustes form label:first-child {
    text-align: center;
}

.contenido form label img, .ajustes form label img {
    max-width: 100%;
}

input[type="range"] {
    border-radius: none;
    border: none;
}

.contenido form textarea, .ajustes form textarea {
    width: 60%;
    resize: none;
}

.contenedor-slider {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}


#valorCaducidad {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
}

.caducidad {
    margin-top: 10px;
    width: 90%;
    height: 15px;
    -webkit-appearance: none;
    background: var(--black1);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
}

.caducidad::-webkit-slider-thumb {
    transition: .1s;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--blue);
    cursor: pointer;
    border: 1.5px solid var(--blue);
    box-shadow: -407px 0 0 400px var(--blue);
}

.caducidad:hover::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    border: 1.5px solid var(--blue);
    box-shadow: -407px 0 0 400px var(--blue);
}

.contenido p {
    transition: .2s;
    cursor: pointer;
    display: none;
    text-align: center;
}

.contenido p:hover, .ajustes p:hover {
    background-color: var(--blue);
}

.contenido .categorias {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.categorias input[type="checkbox"] {
    display: none;
}

.categorias div {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
}

label {
    user-select: none;
}

.categorias div label {
    border-radius: 7px;
    transition: .3s;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    background-color: gray;
}

.categorias div label:hover {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    background-color: var(--blue);
}

.categorias div input[type="checkbox"]:checked + label {
    background-color: var(--blue2);
}

.contenido form input[type="submit"], .ajustes form input[type="submit"] {
    cursor: pointer;
    background-color: var(--black2);
}

.contenido form input[type="submit"]:hover, .ajustes form input[type="submit"]:hover {
    animation-name: btnSubmit;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes btnSubmit {
    from{
        background-color: var(--blue);
    }
    to{
        background-color: var(--blue2);
    }
}

.modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal form {
    background-color: var(--black1);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 30px var(--black1);
    max-width: 500px;
}

.modal form > *:last-child {
    margin: 0;
}

.modal form > *:nth-child(n) {
    transition: .2s;
    border: none;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.1);
}

.modal form > *:nth-child(n):hover {
    box-shadow: 0 0 6px var(--blue);
}

.modal form > *:nth-child(n):focus {
    box-shadow: 0 0 10px var(--blue2);
}

.modal form > *:last-child:hover {
    box-shadow: 0 0 10px var(--blue2);
}


.detalleAnuncio {
    font-size: 1.5em;
    column-gap: 100px;
    color: white;
    width: 90%;
    margin: 7.5vh auto 0 auto;
    display: flex;
    flex-flow: row wrap;
    min-height: 92.5vh;
    align-items: center;
    justify-items: center;
}

.detalleAnuncio img {
    max-width: 40%;
    max-height: 100%;
    object-fit: scale-down;
}

.detalleAnuncio .informacion {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detalleAnuncio .informacion #datosContacto {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

.detalleAnuncio .informacion > :not(:last-child) {
    margin-bottom: 10px;
}

.detalleAnuncio .informacion #precio {
    font-size: 2em;
}


.detalleAnuncio hr {
    border-bottom: 1px solid rgb(223, 223, 223);
}

.detalleAnuncio #favoritos {
    transition: .2s;
    cursor: pointer;
    color: lightgray;
    font-size: 1.5em;
    margin-top: 10px;
}

.detalleAnuncio #favoritos:hover {
    color: rgb(196, 160, 0);
    font-size: 1.5em;
    margin-top: 10px;
}

.detalleAnuncio #favoritos.seleccionado {
    color: rgb(255, 208, 0);
}

.detalleAnuncio #anadirCarrito {
    transition: .2s;
    cursor: pointer;
    color: lightgray;
    font-size: 1.5em;
    margin-top: 10px;
}

.detalleAnuncio #anadirCarrito.rojo {
    color: rgb(236, 89, 89);
}

.detalleAnuncio #anadirCarrito {
    color: var(--blue2);
}

section {
    display: flex;
    flex-flow: row wrap;
    width: 97%;
    margin: 0 auto;
}

.estadisticas {
    padding: 0 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1em;
    align-items: center;
    justify-content: space-evenly;
}

.estadisticas .tarjeta {
    transition: .2s;
    font-size: 1.2em;
    padding: 30px;
    margin: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-basis: 100px;
    flex-shrink: 1;
    flex-grow: 1;
}

.estadisticas .tarjeta:hover {
    box-shadow: 0 0 20px rgba(0, 68, 148, 0.6);
}

.estadisticas .tarjeta ion-icon {
    font-size: 2em;
}

.pedidos::before {
    content: attr(titulo);
    background-color: var(--blue);
    padding: 10px;
}

.pedidos #verTodo {
    transition: .2s;
    display: block;
    padding: 10px;
    cursor: pointer;
    background-color: var(--blue);
    align-self: center;
    justify-self: center;
    width: 100%;
    text-align: center;
}

.pedidos #verTodo:hover {
    background-color: var(--blue2);
}

.pedidos {
    height: fit-content;
    overflow: hidden;
    text-align: center;
    color: white;
    font-size: 1.1em;
    width: 60%;
    border-radius: 15px;
    background-color: transparent;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pedidos div {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.pedidos div:nth-child(2n) {
    background: linear-gradient(transparent, var(--black2), var(--black2), var(--black2), transparent);
}

.pedidos div *{
    padding: 20px 0;
}

.grafico {
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.grafico.lineas {
    margin: 40px auto 0 auto;
    width: 90%;
}

.grafico canvas {
    max-width: 100%;
}

.grafico.circular {
    margin-left: 2.5%;
    width: 37.5%;
}

.ajustes {
    padding: 20px;
    border-radius: 15px;
    margin: 20px auto 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.ajustes p {
    transition: .2s;
    cursor: pointer;
    text-align: center;
}

#serVendedor {
    padding: 20px;
    border-radius: 15px;
    margin: 20px auto 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

#serVendedor h3 {
    margin-bottom: 10px;
}

#serVendedor button {
    transition: .2s;
    cursor: pointer;
    background-color: var(--black2);
    padding: 10px;
    border: none;
    border-radius: 15px;
    color: white;
    margin: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

#serVendedor button:hover {
    animation-name: btnSubmit;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    box-shadow: 0 0 20px var(--blue2);
}

#serVendedor .modal {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;
}

#serVendedor .contenido {
    padding: 0;
    margin: 0;
}

#serVendedor .contenido .modal {
    flex-flow: column wrap;
}

#serVendedor button#cancelar {
    transition: .2s;
    width: 60%;
    max-width: 500px;
    padding: 10px;
    background-color: var(--blue);
}







.carrito {
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    margin: 70px auto 0 auto;
    display: flex;
    width: 80%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.carrito .producto {
    color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    height: 75px;
    padding-bottom: 10px;
}

.carrito .producto:not(:first-child) {
    margin-top: 10px;
}

.carrito .producto:not(:last-child) {
    border-bottom: .5px solid white;
}


.carrito .imagenCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    max-width: 10%;
    align-self: flex-start;
}

.carrito .producto img {
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}

.carrito .producto .nombreProducto {
    overflow: hidden;
    text-overflow:ellipsis;
    font-size: 1.2em;
    padding-left: 5px;
    width: 50%;
}

.carrito .producto .precios {
    overflow: hidden;
    text-overflow:ellipsis;
    width: 25%;
}

.carrito .producto .acciones {
    width: 10%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.carrito .acciones .eliminarProducto {
    cursor: pointer;
    font-size: 2em;
}

.carrito .acciones .toggleFavorito {
    cursor: pointer;
    font-size: 1.4em;
}

.carrito .producto.favorito .acciones .toggleFavorito {
    color: rgb(255, 208, 0);;
}

.carrito a {
    transition: .2s;
    text-decoration-color: transparent;
    color: white;
}

.carrito a:hover {
    color: var(--blue2);
    text-decoration-color: var(--blue2);
}

.carritoOtros {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.carritoOtros span {
    color: white;
    font-size: 1.5em;
}

.controlesCarrito {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
}

.controlesCarrito button {
    width: 25%;
    transition: .2s;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 15px;
    color: white;
    margin: 20px;
}

.controlesCarrito button:nth-child(1) {
    background-color: var(--blue);
    box-shadow: 0 0 20px var(--blue);
}

.controlesCarrito button:nth-child(2) {
    background-color: rgb(172, 52, 52);
    box-shadow: 0 0 20px rgb(172, 52, 52);
}

.controlesCarrito button:hover {
    animation-name: btnSubmit;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 0 0 20px var(--blue2);
}

.controlesCarrito button:nth-child(2):hover {
    animation-name: btnCancel;
}

@keyframes btnCancel {
    from {
        background-color: rgb(172, 52, 52);
        box-shadow: 0 0 20px rgb(172, 52, 52);
    }

    to {
        background-color: rgb(236, 89, 89);
        box-shadow: 0 0 20px rgb(236, 89, 89);
    }
}

.pedidos a{
    font-size: 0.8em;
    transition: .2s;
    color: var(--grey);
}

.pedidos a:visited {
    color: var(--grey);
}

.pedidos a:hover {
    color: var(--blue2);
    font-size: 1em;
}

.pedidos .anuncioLista span:last-child span {
    transition: .2s;
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--blue);
    border-radius: 15px;
}

.pedidos div span:last-child span:hover {
    background-color: var(--blue2);
}

div#historial {
    width: 100% !important;
}


@media screen and (max-width: 991px) {
    nav {
        left: -300px;
    }

    nav.active {
        width: 300px;
        left: 0px;
    }

    main, .topbar{
        left: 0px;
        width: 100%;
    }

    main.active {
        width: calc(100% - 300px);
        left: 300px;
    }

    .topbar {
        width: 100%;
        position: static;
    }

    .topbar.active {
        width: 100%;
    }

    .toggle {
        transition: .2s;
        z-index: 11;
    }

    .profile-pic {
        min-width: 40px;
        min-height: 40px;
    }

    .cuadricula, .contenido .categorias {
        grid-template-columns: repeat(2, 1fr);
    }

    .detalleAnuncio {
        flex-direction: column;
    }

    .detalleAnuncio img {
        margin-bottom: 30px;
        max-width: 50%;
        max-height: 100%;
        object-fit: scale-down;
    }
    
    .detalleAnuncio .informacion {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    section {
        display: flex;
        flex-flow: column wrap;
        width: 95%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    section > * {
        min-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    nav {
        min-height: 100%;
        height: auto;
        width: 100%;
        left: -100%;
        z-index: 10;
    }

    nav.active {
        width: 100%;
        left: 0;
    }

    .topbar {
        position: static;
    }

    .toggle {
        transition: .2s;
        z-index: 11;
    }

    main.active .toggle {
        position: fixed;
        right: 0;
        left: initial;
    }

    .profile-pic {
        max-width: 40px;
        max-height: 40px;
    }

    .cuadricula, .contenido .categorias {
        grid-template-columns: repeat(1, 1fr);
    }

    .detalleAnuncio img {
        margin-bottom: 30px;
        max-width: 80%;
        max-height: 100%;
        object-fit: scale-down;
    }

    #precio {
        order: 1;
    }

    #separador1 {
        order: 2;
    }

    #nombre {
        order: 3;
    }

    #separador2 {
        order: 4;
    }

    #descripcion {
        order: 5;
    }

    .accionesAnuncio {
        order: 6;
    }

    #separador3 {
        order: 7;
    }

    #datosContacto {
        order: 8;
    }

    .estadisticas {
        flex-direction: column;
    }

    .estadisticas .tarjeta {
        width: 100%;
    }

    .modal {
        position: fixed;
    }
}