<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/tomNookDinero.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/login.css">
    <title>Entrar en Tom Nook</title>
</head>
<body>
    <div class="wrapper">
        <div class="card">
            <div class="registro">
                <p id="animacionRegistro" class="titulo"><span>Reg&iacute;strate</span></p>
                <form action="">
                    <input type="text" placeholder="Nombre de usuario">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Contrase&ntilde;a">
                    <label for="profile-pic"class="custom-file-upload">Foto de perfil</label>
                    <input type="file" src="" accept="image/*" id="profile-pic">
                </form>
            </div>
            <div class="inicio-sesion selected">
                <p id="animacionLogin" class="titulo"><span>Iniciar Sesi&oacute;n</span></p>
                <form action="">
                    <input type="text" placeholder="Nombre de usuario">
                    <input type="password" placeholder="Contrase&ntilde;a">
                    <input type="submit" value="Iniciar sesi&oacute;n">
                </form>
            </div>
        </div>
    </div>
    <script src="../javaScript/jquery-3.6.0.min.js"></script>
    <script src="../javaScript/login.js"></script>
</body>
</html>